<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CD-store</title>
    <link rel="stylesheet" type="text/css" href="login.css" />
</head>
<body>
<form id="login-form" method="POST" th:object="${user}">

    <p><b>Sign-in</b></p>

    <input type="text" placeholder="login" th:field="*{login}"> <br>
    <input type="password" placeholder="password" th:field="*{password}"> <br>
    <input type="submit" value="OK"> <br>

    <a href="/register">Register</a>

</form>

</body>
</html>